.filter_tag {
  padding-right: 10px;
  color: blue;
  cursor: pointer;
}

.selected_tag {
  display: inline-flex;
  padding: 5px;
}

.selected_tag_list {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0.5, 0.5, 0.5, 0.5);
}

.tag_list {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.tag_list__header {
  flex-basis: 100%;
}

.filter_buttons {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}